.bg-dark {
    background-color: #343a40!important;
}

body {
  padding-top: 0rem;
  font-family: 'M PLUS 1p', sans-serif;
  background-color: #fefefe;
}

p {
 font-size: 20px;
}

h2{
  font-size: 40px;
}

.thumbnail {
    position: relative;
    display: inline-block;
}

.caption {
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translate( -50%, -50% );
    text-align: left;
    color: #fefefe;
    text-shadow: 1px 1px 15px grey;
}

.ml12.letter{
    display: inline-block;
}

.ml13.letter{
    display: inline-block;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

img {
	width: 100%;
  margin: auto;
  display: block;
  }

.shadow{
  box-shadow: 20px 20px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .card-text{
    font-size: 20px;
  }

  .hashtag {
      font-size: 30px;
      color: #a8d0e6;
  }

  .btn-primary {
    color: #fff;
    background-color: #0275a0;
    border-width: 2px;
    border-color: #0275a0;
}

.btn-primary:hover {
  color: #697184;
  background-color: #d8cfd0;
  border-width: 2px;
  border-color: #d8cfd0;
}

.btn-secondary {
  color: #fff;
  background-color: #0275a0;
  border-width: 2px;
  border-color: #0275a0;
}

#slideshow {
  margin: 50px auto;
  position: relative;
  width: 1000px;
  height: 700px;
  padding: 2px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
